.Container {
  position: relative;
}
.Input {
  width: 600px;
  height: 80px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  padding-left: 32px;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;

  background-image: url('../../images/search.png');
  background-repeat: no-repeat;
  background-position: 96% 50%;
}

.Input:focus,
.Input:hover {
  outline: none;
  border: 5px solid #2196f3;
}

.Icon {
  position: absolute;
  top: 28px;
  right: 22px;
  margin: 0;
  padding: 3px;
  display: inline-block;
}
