.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header__title {
  display: flex;
  align-items: center;

  font-family: Roboto, sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 84px;
}
